{
  "openapi": "3.1.0",
  "info": {
    "title": "Heizreport öffentliche Kunden-API v2",
    "version": "2.4.0",
    "description": "Ein Bearer-Token pro Kunde mit allen freigegebenen Rechten auf eigene Projekte. Fest maximal 2 geschützte Zugriffe in jedem gleitenden Zeitraum von 1 Sekunde, gemeinsam über alle Endpunkte. Bei 429 mindestens Retry-After: 1 warten. Authentifizierte fachliche Fehler zählen ebenfalls. /, /health und OPTIONS sind öffentlich.\n\nJSON-Bodies maximal 64 KiB. Nur dokumentierte Felder verwenden. projectData empfohlen, projektData bleibt kompatibel.\n\nRaumbasisdaten lesen, anlegen und ändern ist ab 2.4.0 verfügbar. U-Werte schreiben, Heizkörper erfassen und Bilder hochladen sind noch nicht öffentlich implementiert. Die interne v1 gehört nicht zu dieser Schnittstelle.\n\nDiese Referenz führt keine API-Aufrufe aus. Zum manuellen Testen die Postman-Collection mit eigenem Token und Testprojekt verwenden."
  },
  "servers": [
    {
      "url": "https://heizreport.net/api/v2",
      "description": "Produktive öffentliche API"
    }
  ],
  "tags": [
    {
      "name": "System"
    },
    {
      "name": "Projekte"
    },
    {
      "name": "Räume"
    },
    {
      "name": "Berechnungen"
    },
    {
      "name": "Dokumente und Bilder"
    },
    {
      "name": "Webhook"
    }
  ],
  "security": [
    {
      "customerBearer": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "apiInfo",
        "summary": "API-Version abrufen",
        "tags": [
          "System"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "API-Information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "version"
                  ]
                },
                "example": {
                  "name": "Heizreport Customer API",
                  "version": "2.4.0"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Erreichbarkeit prüfen",
        "tags": [
          "System"
        ],
        "security": [],
        "description": "Öffentlich. Prüft die Erreichbarkeit des API-Codes, keine vollständige Datenbank- oder Lizenzprüfung.",
        "responses": {
          "200": {
            "description": "API erreichbar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "api": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "api",
                    "version",
                    "timestamp"
                  ]
                },
                "example": {
                  "status": "ok",
                  "api": "heizreport-customer-v2",
                  "version": "2.4.0",
                  "timestamp": "2026-10-01T12:00:00Z"
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "operationId": "listReports",
        "summary": "Eigene Projekte auflisten",
        "tags": [
          "Projekte"
        ],
        "description": "Listet eigene Hauptprojekte gruppiert in projekte, leads, api und archiv. Auch bei abgelaufener Lizenz für entsperrte Kunden verfügbar.",
        "responses": {
          "200": {
            "description": "Erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createReport",
        "summary": "Leeres Projekt anlegen",
        "tags": [
          "Projekte"
        ],
        "description": "Benötigt aktive Jahres- oder Bildungslizenz. HTTP 201 mit historischem JSON-status 200. Nicht blind nach Netzwerkfehlern wiederholen: kein Idempotency-Key, sonst doppelte Projekte möglich.",
        "responses": {
          "400": {
            "description": "Fehlerhaftes JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "error": "Fehlerhaftes JSON",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Erforderliche Projekt- oder Lizenzberechtigung fehlt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 403,
                  "error": "Erforderliche Projekt- oder Lizenzberechtigung fehlt",
                  "details": {
                    "type": "authorization"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request-Body größer als 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 413,
                  "error": "Request-Body größer als 64 KiB",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type muss application/json sein",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 415,
                  "error": "Content-Type muss application/json sein",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Projekt angelegt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedReport"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "example": {}
            }
          }
        }
      },
      "options": {
        "operationId": "preflightReports",
        "summary": "OPTIONS-Antwort prüfen",
        "tags": [
          "System"
        ],
        "security": [],
        "description": "OPTIONS wird für beliebige API-Pfade mit 204 beantwortet. Dies allein erteilt keine browserübergreifende CORS-Freigabe.",
        "responses": {
          "204": {
            "description": "Kein Inhalt"
          }
        }
      }
    },
    "/reports/with-data": {
      "post": {
        "operationId": "createReportWithData",
        "summary": "Projekt mit Daten anlegen",
        "tags": [
          "Projekte"
        ],
        "description": "Aktive Jahres- oder Bildungslizenz erforderlich. Vorbelegung wird vor der Anlage validiert; Anlage und Befüllung erfolgen gemeinsam. Kein Idempotency-Key.",
        "responses": {
          "400": {
            "description": "Fehlerhaftes JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "error": "Fehlerhaftes JSON",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Erforderliche Projekt- oder Lizenzberechtigung fehlt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 403,
                  "error": "Erforderliche Projekt- oder Lizenzberechtigung fehlt",
                  "details": {
                    "type": "authorization"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request-Body größer als 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 413,
                  "error": "Request-Body größer als 64 KiB",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type muss application/json sein",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 415,
                  "error": "Content-Type muss application/json sein",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Projekt angelegt und vorbelegt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedReport"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "JSON-Objekt, maximal 65536 Bytes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectDataEnvelope"
              },
              "example": {
                "projectData": {
                  "projektName": "API-Testprojekt",
                  "projektPostleitzahl": "10115",
                  "projektBewohner": 4,
                  "projektBaujahr": 1995,
                  "email": "api-test@example.com"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{projectKey}": {
      "patch": {
        "operationId": "updateReport",
        "summary": "Projektdaten ändern",
        "tags": [
          "Projekte"
        ],
        "description": "Ändert ausschließlich die angegebenen freigegebenen Felder des eigenen Projekts. Fremde und nicht vorhandene Schlüssel liefern gleichermaßen 404.",
        "responses": {
          "200": {
            "description": "Erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatedReport"
                }
              }
            }
          },
          "400": {
            "description": "Fehlerhaftes JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "error": "Fehlerhaftes JSON",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request-Body größer als 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 413,
                  "error": "Request-Body größer als 64 KiB",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type muss application/json sein",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 415,
                  "error": "Content-Type muss application/json sein",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON-Objekt, maximal 65536 Bytes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectDataEnvelope"
              },
              "example": {
                "projectData": {
                  "projektName": "API-Testprojekt",
                  "projektPostleitzahl": "10115",
                  "projektBewohner": 4,
                  "projektBaujahr": 1995,
                  "email": "api-test@example.com"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getReport",
        "summary": "Projektdetails lesen",
        "tags": [
          "Projekte"
        ],
        "description": "Liest freigegebene Projektdaten und Kopfwerte des eigenen Projekts. Keine internen Einstellungen, Passwörter oder Besitzerdaten. Auch bei abgelaufener Jahreslizenz für entsperrte Kunden verfügbar.",
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projektdetails lesen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDetail"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/{projectKey}/password": {
      "put": {
        "operationId": "changeProjectPassword",
        "summary": "Projektpasswort ändern",
        "tags": [
          "Projekte"
        ],
        "description": "Ändert das Passwort zum Report-Portal, nicht den API-Token. 12–256 Zeichen. Für Tests nur ein eigenes Testprojekt verwenden.",
        "responses": {
          "200": {
            "description": "Erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Fehlerhaftes JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "error": "Fehlerhaftes JSON",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request-Body größer als 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 413,
                  "error": "Request-Body größer als 64 KiB",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type muss application/json sein",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 415,
                  "error": "Content-Type muss application/json sein",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newPassword": {
                    "type": "string",
                    "minLength": 12,
                    "maxLength": 256,
                    "writeOnly": true
                  }
                },
                "required": [
                  "newPassword"
                ],
                "additionalProperties": false
              },
              "example": {
                "newPassword": "NUR-EIN-BEISPIEL-123"
              }
            }
          }
        }
      }
    },
    "/reports/{projectKey}/pdf": {
      "get": {
        "operationId": "generatePdf",
        "summary": "PDF erzeugen und Link abrufen",
        "tags": [
          "Dokumente und Bilder"
        ],
        "description": "Dieser GET-Aufruf erzeugt und speichert ein Dokument; er ist kein reiner Lesezugriff. Antwort ist JSON, keine PDF-Datei. linkToDocument und file.url enthalten vollständige URLs mit https://heizreport.net/ und können unverändert abgerufen werden. Lizenz-, Projekt- und Umkreisprüfungen wie in Pro; check benötigt zusätzlich das Wärmepumpen-Funktionsrecht. Erzeugung kann den ersten PDF-Webhook auslösen.",
        "responses": {
          "200": {
            "description": "Erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Erforderliche Projekt- oder Lizenzberechtigung fehlt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 403,
                  "error": "Erforderliche Projekt- oder Lizenzberechtigung fehlt",
                  "details": {
                    "type": "authorization"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "heizreport",
                "check"
              ],
              "default": "heizreport"
            }
          }
        ]
      }
    },
    "/reports/{projectKey}/pictures": {
      "get": {
        "operationId": "listPictures",
        "summary": "Vorhandene Bilder auflisten",
        "tags": [
          "Dokumente und Bilder"
        ],
        "description": "Listet vorhandene Bilder mit signierten URLs. Kein Upload-Endpunkt. Relative URLs gegen den API-Server-Ursprung, z. B. https://heizreport.net, auflösen. Bei abgelaufenen Links die Liste neu abrufen.",
        "responses": {
          "200": {
            "description": "Erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PicturesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          }
        ]
      }
    },
    "/reports/{projectKey}/results": {
      "get": {
        "operationId": "calculateResults",
        "summary": "Berechnungsergebnisse abrufen",
        "tags": [
          "Berechnungen"
        ],
        "description": "Berechnet Ergebnisse aus vorhandenen Projektdaten. Gleiche Projekt-, Lizenz- und Umkreisprüfungen wie in Pro. Unvollständige Berechnungsdaten: 422 mit details.type=calculation_unavailable. Standardmäßig vorhandene Vorgaben nutzen. Parameter paarweise verwenden; aktuelle Namen haben Vorrang vor den jeweiligen alten Aliasnamen. Keine Räume/Heizkörper über diesen Endpunkt anlegen.",
        "responses": {
          "200": {
            "description": "Erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Erforderliche Projekt- oder Lizenzberechtigung fehlt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 403,
                  "error": "Erforderliche Projekt- oder Lizenzberechtigung fehlt",
                  "details": {
                    "type": "authorization"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingData": {
                    "value": {
                      "status": 422,
                      "error": "Ergebnisse sind noch nicht verfügbar",
                      "details": {
                        "type": "calculation_unavailable",
                        "calculationStatus": "unavailable"
                      }
                    }
                  },
                  "validation": {
                    "value": {
                      "status": 422,
                      "error": "Ungültige Systemtemperatur",
                      "details": {
                        "type": "validation"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          },
          {
            "name": "flowTemperature",
            "in": "query",
            "description": "Vorlauftemperatur in °C. Mit spread gemeinsam angeben. Nur für diese Berechnung, kein dauerhaftes Speichern.",
            "schema": {
              "type": "number",
              "minimum": 25,
              "maximum": 95
            }
          },
          {
            "name": "spread",
            "in": "query",
            "description": "Spreizung in K, größer 0 und kleiner als flowTemperature. Gemeinsam mit flowTemperature angeben.",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "name": "vorlaufT",
            "in": "query",
            "description": "Bisheriger Alias für flowTemperature. Neue Integrationen verwenden flowTemperature.",
            "schema": {
              "type": "number",
              "minimum": 25,
              "maximum": 95
            }
          },
          {
            "name": "spreizung",
            "in": "query",
            "description": "Bisheriger Alias für spread. Neue Integrationen verwenden spread.",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          }
        ]
      }
    },
    "/reports/{projectKey}/rooms": {
      "get": {
        "operationId": "listRooms",
        "summary": "Räume auflisten",
        "tags": [
          "Räume"
        ],
        "description": "Nur für eigene Projekte. Raum-ID wird zusätzlich an Projekt und Kunde gebunden. Datenerfassung und Lesen bleiben bei abgelaufener Jahreslizenz für entsperrte Kunden möglich. Das feste kundenweite Limit von zwei Zugriffen pro Sekunde gilt unverändert.",
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Räume auflisten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRoom",
        "summary": "Raum anlegen",
        "tags": [
          "Räume"
        ],
        "description": "Nur für eigene Projekte. Raum-ID wird zusätzlich an Projekt und Kunde gebunden. Datenerfassung und Lesen bleiben bei abgelaufener Jahreslizenz für entsperrte Kunden möglich. Das feste kundenweite Limit von zwei Zugriffen pro Sekunde gilt unverändert. Bei Anlage ist raumBezeichnung erforderlich; ohne Angabe gelten Geschoss 1, Temperaturkennzahl 5 und Höhe 2.5 m. Fläche bleibt leer. Baujahr wird aus dem Projekt übernommen. Anlage und Aktivitäts-/Statusänderung erfolgen gemeinsam in einer Transaktion. Projektstatus wird auf 2 gesetzt, abgeschlossene/archivierte Status 4/5 bleiben erhalten. Kein Idempotency-Key: nach Timeout zuerst Raumliste prüfen. Nur Raumbasisdaten; dadurch allein ist noch keine vollständige Heizlastberechnung möglich.",
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Raum anlegen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehlerhaftes JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "error": "Fehlerhaftes JSON",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request-Body größer als 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 413,
                  "error": "Request-Body größer als 64 KiB",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type muss application/json sein",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 415,
                  "error": "Content-Type muss application/json sein",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Genau ein roomData-Objekt; JSON maximal 64 KiB.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomCreateEnvelope"
              },
              "example": {
                "roomData": {
                  "raumBezeichnung": "Wohnzimmer",
                  "raumEtage": 1,
                  "raumFlaeche": 25.5,
                  "raumHoehe": 2.5,
                  "raumTemperatur": 20,
                  "raumNotiz": "Erfasst über die API"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{projectKey}/rooms/{roomId}": {
      "get": {
        "operationId": "getRoom",
        "summary": "Einzelnen Raum lesen",
        "tags": [
          "Räume"
        ],
        "description": "Nur für eigene Projekte. Raum-ID wird zusätzlich an Projekt und Kunde gebunden. Datenerfassung und Lesen bleiben bei abgelaufener Jahreslizenz für entsperrte Kunden möglich. Das feste kundenweite Limit von zwei Zugriffen pro Sekunde gilt unverändert.",
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID aus room.id übernehmen. Muss zum angegebenen eigenen Projekt gehören.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Einzelnen Raum lesen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateRoom",
        "summary": "Raumbasisdaten ändern",
        "tags": [
          "Räume"
        ],
        "description": "Nur für eigene Projekte. Raum-ID wird zusätzlich an Projekt und Kunde gebunden. Datenerfassung und Lesen bleiben bei abgelaufener Jahreslizenz für entsperrte Kunden möglich. Das feste kundenweite Limit von zwei Zugriffen pro Sekunde gilt unverändert. Nur die übermittelten Felder ändern. Weitere Raumdaten, Heizflächen und individuelle U-Werte bleiben erhalten. Keine Löschfunktion. Die Projektaktivität wird aktualisiert.",
        "parameters": [
          {
            "name": "projectKey",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProjectKey"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID aus room.id übernehmen. Muss zum angegebenen eigenen Projekt gehören.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raumbasisdaten ändern",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer-Token fehlt oder ist ungültig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 401,
                  "error": "Bearer-Token fehlt oder ist ungültig",
                  "details": {
                    "type": "authentication"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "error": "Projekt nicht gefunden (auch bei fremdem Besitzer)",
                  "details": {
                    "type": "not_found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 422,
                  "error": "Ungültige Eingabe oder Berechnung noch nicht verfügbar",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maximal zwei Zugriffe pro Sekunde und Kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 429,
                  "error": "Maximal zwei Zugriffe pro Sekunde und Kunde",
                  "details": {
                    "type": "rate_limit",
                    "limit": 2,
                    "windowSeconds": 1,
                    "retryAfter": 1
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Mindestens diese Anzahl Sekunden warten.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 500,
                  "error": "Interner Serverfehler",
                  "details": {
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 503,
                  "error": "API vorübergehend nicht verfügbar",
                  "details": {
                    "type": "service_unavailable"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehlerhaftes JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "error": "Fehlerhaftes JSON",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request-Body größer als 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 413,
                  "error": "Request-Body größer als 64 KiB",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type muss application/json sein",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 415,
                  "error": "Content-Type muss application/json sein",
                  "details": {
                    "type": "validation"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Genau ein roomData-Objekt; JSON maximal 64 KiB.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomDataEnvelope"
              },
              "example": {
                "roomData": {
                  "raumBezeichnung": "Wohnzimmer",
                  "raumEtage": 1,
                  "raumFlaeche": 25.5,
                  "raumHoehe": 2.5,
                  "raumTemperatur": 20,
                  "raumNotiz": "Erfasst über die API"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "customerBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Vorhandenen API-Token aus Pro verwenden. Keine Scopes; ein Token pro Kunde. Nie im Query oder Body senden."
      }
    },
    "schemas": {
      "ProjectData": {
        "type": "object",
        "properties": {
          "projektName": {
            "description": "Projektname. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 190
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "projektPostleitzahl": {
            "type": "string",
            "description": "Objektstandort. Muss in den Heizreport-Klimadaten existieren; darf nicht geleert werden.",
            "pattern": "^[0-9]{4,5}$",
            "example": "10115"
          },
          "projektArtHeizung": {
            "description": "Kennzahl der Heizungsart; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert.",
            "anyOf": [
              {
                "type": "integer",
                "enum": [
                  1,
                  2,
                  3,
                  4,
                  5,
                  6
                ]
              },
              {
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3",
                  "4",
                  "5",
                  "6",
                  ""
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "projektAlterHeizung": {
            "description": "Kennzahl der Altersklasse der Heizung; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert.",
            "anyOf": [
              {
                "type": "integer",
                "enum": [
                  1,
                  2,
                  3
                ]
              },
              {
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3",
                  ""
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "projektBewohner": {
            "description": "Anzahl der Bewohner. Bereich 0–10000; ganzzahlig. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 10000
              },
              {
                "type": "string",
                "maxLength": 128
              },
              {
                "type": "null"
              }
            ]
          },
          "projektJahresverbrauch": {
            "description": "Jahresverbrauch passend zur gewählten Heizungsart. Bereich 0–1000000000. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert.",
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000
              },
              {
                "type": "string",
                "maxLength": 128
              },
              {
                "type": "null"
              }
            ]
          },
          "projektBaujahr": {
            "description": "Baujahr. Bereich 1000–2100; ganzzahlig. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1000,
                "maximum": 2100
              },
              {
                "type": "string",
                "maxLength": 128
              },
              {
                "type": "null"
              }
            ]
          },
          "projektTrinkwasser": {
            "description": "Kennzahl der Trinkwasserbereitung; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert.",
            "anyOf": [
              {
                "type": "integer",
                "enum": [
                  1,
                  2,
                  3
                ]
              },
              {
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3",
                  ""
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "projektWaermeerzeugerSolarStatus": {
            "description": "Solarer Wärmeerzeuger vorhanden. true/on/1 wird intern on; false/off/0/leer/null wird intern leer.",
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "on",
                  "off",
                  "0",
                  "1",
                  ""
                ]
              },
              {
                "type": "integer",
                "enum": [
                  0,
                  1
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "projektWaermeerzeugerSolarArt": {
            "description": "Kennzahl der Solarart; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert.",
            "anyOf": [
              {
                "type": "integer",
                "enum": [
                  1,
                  2
                ]
              },
              {
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  ""
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "projektKollektorflaecheSolar": {
            "description": "Kollektorfläche in m². Bereich 0–1000000. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert.",
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000
              },
              {
                "type": "string",
                "maxLength": 128
              },
              {
                "type": "null"
              }
            ]
          },
          "projektWaermeerzeugerHolzStatus": {
            "description": "Holz-Wärmeerzeuger vorhanden. true/on/1 wird intern on; false/off/0/leer/null wird intern leer.",
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "on",
                  "off",
                  "0",
                  "1",
                  ""
                ]
              },
              {
                "type": "integer",
                "enum": [
                  0,
                  1
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "projektJahresverbrauchHolz": {
            "description": "Holzverbrauch passend zur gewählten Holzart. Bereich 0–1000000. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert.",
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000
              },
              {
                "type": "string",
                "maxLength": 128
              },
              {
                "type": "null"
              }
            ]
          },
          "projektWaermeerzeugerHolzArt": {
            "description": "Kennzahl der Holzart; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert.",
            "anyOf": [
              {
                "type": "integer",
                "enum": [
                  1500,
                  1550,
                  1800,
                  2000,
                  2200,
                  2201
                ]
              },
              {
                "type": "string",
                "enum": [
                  "1500",
                  "1550",
                  "1800",
                  "2000",
                  "2200",
                  "2201",
                  ""
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "email": {
            "description": "E-Mail-Adresse des Kontakts; leer zum Löschen. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 190
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "anrede": {
            "description": "Anrede des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 40
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "vorname": {
            "description": "Vorname des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 60
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "name": {
            "description": "Nachname des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 60
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "strasse": {
            "description": "Straße des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 160
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "hausnummer": {
            "description": "Hausnummer des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 40
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "plz": {
            "description": "Postleitzahl des Kontakts; 4–5 Ziffern oder leer/null zum Löschen. Als Zeichenkette senden, damit führende Nullen erhalten bleiben.",
            "anyOf": [
              {
                "type": "string",
                "pattern": "^([0-9]{4,5})?$"
              },
              {
                "type": "null"
              }
            ]
          },
          "ort": {
            "description": "Ort des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 160
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "telefon": {
            "description": "Telefonnummer des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 80
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "bemerkungen": {
            "description": "Bemerkungen zum Projekt. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false,
        "minProperties": 1,
        "description": "Freigegebene Schreibfelder. Nur übermittelte Felder werden geändert; unbekannte Felder liefern 422. Optionale Werte können mit leer/null gelöscht werden. Zusätzliche fachliche Regeln stehen in den Feldbeschreibungen."
      },
      "ProjectDataResponse": {
        "type": "object",
        "properties": {
          "projektName": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Projektname. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen."
          },
          "projektPostleitzahl": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Objektstandort. Muss in den Heizreport-Klimadaten existieren; darf nicht geleert werden."
          },
          "projektArtHeizung": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Kennzahl der Heizungsart; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert."
          },
          "projektAlterHeizung": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Kennzahl der Altersklasse der Heizung; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert."
          },
          "projektBewohner": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Anzahl der Bewohner. Bereich 0–10000; ganzzahlig. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert."
          },
          "projektJahresverbrauch": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Jahresverbrauch passend zur gewählten Heizungsart. Bereich 0–1000000000. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert."
          },
          "projektBaujahr": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Baujahr. Bereich 1000–2100; ganzzahlig. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert."
          },
          "projektTrinkwasser": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Kennzahl der Trinkwasserbereitung; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert."
          },
          "projektWaermeerzeugerSolarStatus": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Solarer Wärmeerzeuger vorhanden. true/on/1 wird intern on; false/off/0/leer/null wird intern leer."
          },
          "projektWaermeerzeugerSolarArt": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Kennzahl der Solarart; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert."
          },
          "projektKollektorflaecheSolar": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Kollektorfläche in m². Bereich 0–1000000. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert."
          },
          "projektWaermeerzeugerHolzStatus": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Holz-Wärmeerzeuger vorhanden. true/on/1 wird intern on; false/off/0/leer/null wird intern leer."
          },
          "projektJahresverbrauchHolz": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Holzverbrauch passend zur gewählten Holzart. Bereich 0–1000000. Numerische Zeichenketten (auch Dezimalkomma) werden akzeptiert und geprüft. Leer/null löscht den Wert."
          },
          "projektWaermeerzeugerHolzArt": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Kennzahl der Holzart; Zahl oder numerische Zeichenkette. Leer/null löscht den optionalen Wert."
          },
          "email": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "E-Mail-Adresse des Kontakts; leer zum Löschen. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen."
          },
          "anrede": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Anrede des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen."
          },
          "vorname": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Vorname des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen."
          },
          "name": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Nachname des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen."
          },
          "strasse": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Straße des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen."
          },
          "hausnummer": {
            "type": [
              "string",
              "number",
              "null"
            ],
            "description": "Hausnummer des Kontakts. Zeichenketten empfohlen; einfache Zahlen und null werden zu Text normalisiert. Kein NUL-Zeichen."
          },
          "plz": {
[...]
